.modalbtn{
    display: inline-block;
    text-decoration: none;
    margin-right: 10px;
    border-radius: 5px;
    padding: 8px 10px;
    background: #15C5FF;
    color: white !important;
}

.cssmodal {
    display: flex;
    position: fixed;
    left: 0;
    top: -100%;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    opacity: 0;
    -webkit-transition: top 0s .5s, opacity .5s 0s;
    transition: top 0s .5s, opacity .5s 0s;
}


/* Opened CSS Modal */
.cssmodal:target {
    top: 0;
    opacity: 1;
    -webkit-transition: none;
    transition: none;
}

/* CSS Modal content */
.cssmodal figure {
    width: 95%;
    max-width: 600px;
    position: relative;
    padding: 1.5em;
    opacity: 0;
    background-color: white;
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
}

/* Dialog modal style */
.cssmodal.dialog figure {
    background: white;
    border-radius: 5px;
    padding-top: 10px;
}

/* Dialog modal h2 style */
.cssmodal.dialog figure h2 {
    margin-top: 0;
    padding-bottom: 5px;
    border-bottom: 1px solid #eee;
}

/* CSS Modal content when opened */
.cssmodal:target figure {
    opacity: 1;
}

/* style for small x link inside dialog modal */
.cssmodal.dialog .smallclose {
    text-decoration: none;
    position: absolute;
    right: 6px;
    top: 0px;
    font-size: 36px;
}


/* veil that covers page when CSS Modal is open */
.cssmodal .veil {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0,0,0,.7);
    content: "";
    cursor: default;
    visibility: hidden;
    -webkit-transition: all .5s;
    transition: all .5s;
}


/* veil style when CSS Modal is open */
.cssmodal:target .veil {
    visibility: visible;
}